# Kata:

https://www.codewars.com/kata/5a03af9606d5b65ff7000009/train/python

## Your name or team members:

In [ ]:
Elena Luque & Guille Morato

## Use the following cells to test your solution:

In [44]:
import numpy as np
import pandas as pd
arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

idx = [0, 1]

In [45]:
result = [[row [i] for i in idx] for row in arr]
print(result)

[[1, 6], [8, 9], [9, 8], [1, 6]]

In [46]:
colum1 = [row[idx[0]] for row in arr]
print(colum1)
colum2 = [row[idx[1]] for row in arr]
print(colum2)
c = zip(colum1,colum2)
print(list(c))

[1, 8, 9, 1]
[6, 9, 8, 6]
[(1, 6), (8, 9), (9, 8), (1, 6)]

In [47]:
#Quieres devolver los índices únicos
unique_idx = []
for number in columna_indices:
    if number not in unique_idx:
        unique_idx.append(number)
print(unique_idx)

NameError: name 'columna_indices' is not defined

In [48]:
df = pd.DataFrame(colum1,colum2)
df

   0
6  1
9  8
8  9
6  1

In [ ]:
# Copy your submited solution here: