# Kata:

https://www.codewars.com/kata/5dac87a0abe9f1001f39e36d/train/sql

## Your name or team members:

In [ ]:
Natalia Vargas

## Use the following cells to test your solution:

In [ ]:
SELECT 
    sd.product_name,
    YEAR(s.date) AS year,
    MONTH(s.date) AS month,
    DAY(s.date) AS day,
    SUM(sd.total) AS revenue
FROM 
    sales s
JOIN 
    sales_details sd ON s.date = sd.date
GROUP BY 
    sd.product_name,
    YEAR(s.date),
    MONTH(s.date),
    DAY(s.date)
ORDER BY 
    sd.product_name,
    YEAR(s.date),
    MONTH(s.date),
    DAY(s.date);

In [ ]:
SELECT 
    sd.product_name,
    YEAR(s.date) AS year,
    MONTH(s.date) AS month,
    DAY(s.date) AS day,
    SUM(sd.total) AS revenue
FROM 
    sales s
JOIN 
    sales_details sd ON s.date = sd.date
GROUP BY 
    sd.product_name,
    YEAR(s.date),
    MONTH(s.date),
    DAY(s.date)
ORDER BY 
    sd.product_name,
    YEAR(s.date),
    MONTH(s.date),
    DAY(s.date);

In [ ]:
SELECT 
    p.name AS product_name,
    EXTRACT(YEAR FROM s.date) AS year,
    EXTRACT(MONTH FROM s.date) AS month,
    EXTRACT(DAY FROM s.date) AS day,
    SUM(sd.count * p.price) AS total
FROM 
    sales s
JOIN 
    sales_details sd ON s.id = sd.sale_id
JOIN 
    products p ON sd.product_id = p.id
GROUP BY 
    ROLLUP(
    EXTRACT(YEAR FROM s.date),
    EXTRACT(MONTH FROM s.date),
    EXTRACT(DAY FROM s.date)
    );
ORDER BY 
    p.name,
    EXTRACT(YEAR FROM s.date),
    EXTRACT(MONTH FROM s.date),
    EXTRACT(DAY FROM s.date);
    
    
    
    
    
    
    GROUP BY
    ROLLUP (
        EXTRACT (YEAR FROM rental_date),
        EXTRACT (MONTH FROM rental_date),
        EXTRACT (DAY FROM rental_date)
    );

In [ ]:
SELECT
   products.name as product_name
   EXTRACT (YEAR FROM sales.date)
   EXTRACT
   EXTRACT
   SUM
FROM sales_details;
JOIN sales
  ON sales.id = sales_details.sales_id
JOIN products
  ON products.id = sales_details.product_id

## Copy your submited solution here:

In [ ]:
SELECT
  pr.name AS product_name,
  CAST(DATE_PART('YEAR', sa.date) AS int) AS "year",
  CAST(DATE_PART('MONTH', sa.date) AS int) AS "month",
  CAST(DATE_PART('DAY', sa.date) AS int) AS "day",
  SUM(sd.count * pr.price) AS total
FROM sales_details AS sd
	INNER JOIN products AS pr ON sd.product_id = pr.id
	INNER JOIN sales AS sa ON sd.sale_id = sa.id
GROUP BY pr.name, ROLLUP(year, month, day)
  ORDER BY pr.name, year, month, day;