# Kata:

https://www.codewars.com/kata/5ed056c9263d2f001738b791/train/python

## Your name or team members:

In [ ]:
Sil y Carlos

## Use the following cells to test your solution:

In [1]:
indx = [0,1]

arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]



group(arr, idx) == {
  (1, 6): [5, 30],      # [2 + 3, 10 + 20]
  (8, 9): [4, 11],
  (9, 8): [7, 12]
}

NameError: name 'group' is not defined

In [42]:
group(arr, idx) == {
  (1, 6): [5, 30],      # [2 + 3, 10 + 20]
  (8, 9): [4, 11],
  (9, 8): [7, 12]
}

NameError: name 'group' is not defined

In [62]:
indx = [0,1]

arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

dict_arr = {}

for lista in arr:
    #print(lista[indx[2]])
    print(lista)
    llave = (lista[indx[0]], lista[indx[1]])
    print(llave)
    valor = [lista[2], lista[3]]
    print(valor)
    dict_arr[llave] = (valor)
    #docWords[word].add(docID)
    
print(dict_arr)
type(llave)
key = (1,7)
print(dict_arr.keys)

[1, 6, 2, 10]
(1, 6)
[2, 10]
[8, 9, 4, 11]
(8, 9)
[4, 11]
[9, 8, 7, 12]
(9, 8)
[7, 12]
[1, 6, 3, 20]
(1, 6)
[3, 20]
{(1, 6): [3, 20], (8, 9): [4, 11], (9, 8): [7, 12]}
<built-in method keys of dict object at 0x0000018AF313FA40>

In [ ]:
for lista in arr:
    llave = (lista[indx[0]], lista[indx[1]])

In [64]:
for lista in arr:
    llave = (lista[indx[0]], lista[indx[1]])
    valor = [lista[2], lista[3]]
    
    for key in dict_arr:
        if key == llave:
            valor = dict_arr[key] + valor
    
    dict_arr[llave] = (valor)
    
print(dict_arr)

{}

In [58]:
dict_arr.key(llave)

AttributeError: 'dict' object has no attribute 'key'

In [ ]:

for list in arr:
    [1, 6, 2, 10]
    for element in list:
        if list(indx[0]) == list(element(indx[0])) and list(indx[1]) == list(element(indx[1]))

        for lista in arr:
    dict [(lista(indx[0]), lista(indx[1]))] = [(lista(indx[0]),lista(indx[1]))]

In [79]:
import pandas as pd
indx = [0,1]

arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

matrix = pd.DataFrame(arr)
matrix.head()
a = matrix.rename_axis(axis=1)

(1,6)  (8,9)

 2       4
 10      11

   0  1  2   3
0  1  6  2  10
1  8  9  4  11
2  9  8  7  12
3  1  6  3  20

## Copy your submited solution here: