# Kata:

https://www.codewars.com/kata/5811597e9d278beb04000038/train/sql

https://www.codewars.com/kata/5e5f09dc0a17be0023920f6f/train/sql

https://www.codewars.com/kata/582cba7d3be8ce3a8300007c/train/sql

## Your name or team members:

In [2]:
# Tere

## Use the following cells to test your solution:

In [ ]:
# Error en kata 02 
SELECT capital
FROM countries
WHERE country LIKE 'E%'
WHERE country IN ('Africa', 'Afrika')
ORDER BY capital
LIMIT 3;

In [ ]:
# Solucion kata 03
SELECT 
  CAST(s.transaction_date AS DATE) as day,
  d.name AS department,
  COUNT(s.id) AS sale_count
  FROM department d
    JOIN sale s on d.id = s.department_id
  group by day, d.name
  order by day asc;

## Copy your submited solution here:

In [ ]:
# Kata 01
SELECT DATE(created_at) AS day, description, COUNT(*) AS count
FROM events 
WHERE name = 'trained'
GROUP BY day, description
ORDER BY day ASC;

In [ ]:
# Kata 02
SELECT capital
FROM countries
WHERE country LIKE 'E%' AND continent IN ('Afrika', 'Africa')
ORDER BY capital
LIMIT 3;

In [ ]:
# Kata 03
SELECT 
  CAST(s.transaction_date AS DATE) as day,
  d.name AS department,
  COUNT(s.id) AS sale_count
  FROM department d
    JOIN sale s on d.id = s.department_id
  group by day, d.name
  order by day asc;