# Kata:

https://www.codewars.com/kata/5ed056c9263d2f001738b791/train/python

## Your name or team members:

In [ ]:
#Alana y Tom√°s

## Use the following cells to test your solution:

In [4]:
import pandas as pd

In [5]:
def group(arr, idx):
    return

In [6]:
arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

idx = [0, 1]

group(arr, idx) == {
  (1, 6): [5, 30],      # [2 + 3, 10 + 20]
  (8, 9): [4, 11],
  (9, 8): [7, 12]
}

False

In [58]:
df = pd.DataFrame(arr)
df_study = df[df.columns[idx]]
df_study

   0  1
0  1  6
1  8  9
2  9  8
3  1  6

## Copy your submited solution here:

In [1]:
arr = [
    [1, 6, 2, 10],
    [8, 9, 4, 11],
    [9, 8, 7, 12],
    [1, 6, 3, 20],
]

idx = [0, 1]

def group(arr, idx):
    groupbysum = {}

    for row in arr:
        key = tuple(row[i] for i in idx)
        value = [val for j, val in enumerate(row) if j not in idx]

        if key in groupbysum:
            for i in range(len(value)):
                groupbysum[key][i] += value[i]
        else:
            if len(value) == 1:
                groupbysum[key] = [value[0]]
            else:
                groupbysum[key] = value

    return groupbysum

groupbysum = group(arr, idx)
print(groupbysum)

{(1, 6): [5, 30], (8, 9): [4, 11], (9, 8): [7, 12]}