# Kata:

https://www.codewars.com/kata/5daf515c3affec002b2fb921/train/sql

## Your name or team members:

In [ ]:
# Carlos SÃ¡nchez

## Use the following cells to test your solution:

In [ ]:
SELECT
  data ->> 'first_name' AS first_name,
  data ->> 'last_name' AS last_name,
  EXTRACT (year FROM AGE(now(), (data->>'date_of_birth')::date)) AS age,
  CASE
    WHEN data ->> 'private' = 'true' THEN 'Hidden'
    WHEN data ->>'private' = 'false' AND data ->> '{email_addresses, 0}' is null then 'None'
    ELSE data ->> '{email_addresses, 0}'
  END AS email_address
FROM users
ORDER BY first_name, last_name;

## Copy your submited solution here:

In [ ]:
SELECT
  data ->> 'first_name' AS first_name,
  data ->> 'last_name' AS last_name,
  EXTRACT (year FROM AGE(now(), date(data->>'date_of_birth'))) AS age,
  CASE
    WHEN data ->> 'private' = 'true' THEN 'Hidden'
    WHEN data ->>'private' = 'false' AND data #>> '{email_addresses, 0}' is null then 'None'
    ELSE data #>> '{email_addresses, 0}'
  END AS email_address
FROM users
ORDER BY first_name, last_name;

In [ ]:
SELECT
  data ->> 'first_name' AS first_name,
  data ->> 'last_name' AS last_name,
  EXTRACT (year FROM AGE(now(), date(data->>'date_of_birth'))) AS age,
  CASE
    WHEN data ->> 'private' = 'true' THEN 'Hidden'
    WHEN json_array_length(data -> 'email_addresses') > 0 THEN (data -> 'email_addresses' ->> 0)
    ELSE 'None'
  END AS email_address
FROM users
ORDER BY first_name, last_name;