# Kata:

https://www.codewars.com/kata/5ed056c9263d2f001738b791/train/python

## Your name or team members:

In [2]:
# Tere and Andrew

## Use the following cells to test your solution:

In [ ]:
def group(arr, idx):
    return

In [3]:
arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

"""idx = [0, 1]

group(arr, idx) == {
  (1, 6): [5, 30],      # [2 + 3, 10 + 20]
  (8, 9): [4, 11],
  (9, 8): [7, 12]
}
"""

'idx = [0, 1]\n\ngroup(arr, idx) == {\n  (1, 6): [5, 30],      # [2 + 3, 10 + 20]\n  (8, 9): [4, 11],\n  (9, 8): [7, 12]\n}\n'

In [18]:
import pandas as pd

df = pd.DataFrame(arr)
print(df)

   0  1  2   3
0  1  6  2  10
1  8  9  4  11
2  9  8  7  12
3  1  6  3  20

In [28]:
df.columns = ['0', '1', '2', '3']
print(df)

   0  1  2   3
0  1  6  2  10
1  8  9  4  11
2  9  8  7  12
3  1  6  3  20

In [29]:
df1 = df.groupby(['0', '1'], as_index=False).agg({'2': 'sum', '3': 'sum'})
#df2 = df.groupby(['01', '02'], as_index=False).agg({'03': 'sum'})
print(df1)

   0  1  2   3
0  1  6  5  30
1  8  9  4  11
2  9  8  7  12

In [ ]:
def group(arr, idx):
    df = pd.DataFrame(arr)
    df1 = df.groupby(['0', '1'], as_index=False).agg({'2': 'sum', '3': 'sum'})
    return df

In [30]:
df_b = pd.DataFrame(arr)
df_b = df.groupby(['0', '1'], as_index=False).agg({'2': 'sum', '3': 'sum'})
print(df_b)

   0  1  2   3
0  1  6  5  30
1  8  9  4  11
2  9  8  7  12

In [43]:
for i in df1:
    print (tuple(df1.iloc[0,:2]))

(1, 6)
(1, 6)
(1, 6)
(1, 6)

In [44]:
print (df1)

   0  1  2   3
0  1  6  5  30
1  8  9  4  11
2  9  8  7  12

In [ ]:
dict_empty = {}

dict_empty[tuple(df1.iloc[0,:2])] =

In [31]:
dict_empty = {}
dict_empty.keys = df1.iloc[:,:3]

# Prueba
dictionary = {'A': 1, 'B': 2, 'C': 3}
    key, value = 'D', 4

print(dict_empty)

AttributeError: 'dict' object attribute 'keys' is read-only

## Copy your submited solution here: