# Kata:

https://www.codewars.com/kata/580d08b5c049aef8f900007c/train/sql

## Your name or team members:

In [ ]:
Carlos

## Use the following cells to test your solution:

In [ ]:
-- Solución 1:
SELECT customer.customer_id, customer.email, 
  COUNT(payment.amount) AS payments_count, 
  SUM(payment.amount)::FLOAT AS total_amount
        
FROM customer
INNER JOIN payment ON payment.customer_id = customer.customer_id
GROUP BY customer.customer_id
ORDER BY total_amount DESC
LIMIT 10;

In [ ]:
-- Solución 1:
SELECT c.customer_id, c.email, 
  COUNT(p.amount) AS payments_count, 
  SUM(p.amount)::FLOAT AS total_amount
        
FROM customer AS c, payment AS p
INNER JOIN p ON p.customer_id = c.customer_id
GROUP BY c.customer_id
ORDER BY total_amount DESC
LIMIT 10;

In [ ]:
-- Solución 1:
SELECT c.customer_id, c.email, 
  COUNT(p.amount) AS payments_count, 
  SUM(p.amount)::FLOAT AS total_amount
        
FROM customer AS c
INNER JOIN payment AS p ON p.customer_id = c.customer_id
GROUP BY c.customer_id
ORDER BY total_amount DESC
LIMIT 10;

In [ ]:
-- Solución 2:
SELECT c.customer_id, c.email,
  COUNT(p.customer_id) AS payments_count,
  SUM(p.amount) AS total_amount
  
FROM customer AS c, payment AS p
WHERE c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY total_amount DESC
LIMIT 10

## Copy your submited solution here:

In [ ]:
-- Solución 2:
SELECT c.customer_id, c.email,  -- Se extraen las columnas customer y email de la tabla customer, llamada "c".
  COUNT(p.customer_id)::INT AS payments_count,  -- Se realiza el conteo del número de compras que ha realizado cada cliente.
  SUM(p.amount)::FLOAT AS total_amount  -- Se realiza la suma de la cantidad total de los pagos realizados.
  
FROM customer AS c, payment AS p  -- Se indican las tablas de donde se extraen los datos y los alias de cada tabla.
WHERE c.customer_id = p.customer_id  -- Se indica las foreign keys por las que se relacionan ambas tablas.
GROUP BY c.customer_id  -- Se realiza la agrupación por la columna customer_id.
ORDER BY total_amount DESC  -- Se ordenan utilizando la columna total_amount en orden descendente.
LIMIT 10  -- Se muestran los 10 primeros datos