# Kata:

https://www.codewars.com/kata/5ed056c9263d2f001738b791/train/python

## Your name or team members:

In [ ]:
Ana & John

## Use the following cells to test your solution:

In [ ]:
Background
Often times when working with raw tabular data, a common goal is to split the data into groups and perform an aggregation as a way to simplify and draw meaningful conclusions from it. The aggregation function can be anything that reduces the data (sum,mean,standard deviation,etc.). For the purpose of this kata, it will always be the sum function.

Task
Define a function that accepts two arguments, the first being a list of list that represents the raw data, and the second being a list of column indices. The return value should be a dictionary with the key being the groups as a tuple and the values should be a list containing the aggregated sums.

Example
arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

idx = [0, 1]

group(arr, idx) == {
  (1, 6): [5, 30],      # [2 + 3, 10 + 20]
  (8, 9): [4, 11],
  (9, 8): [7, 12]
}
Explanation
Columns 0 and 1 are used for grouping, so columns 2 and 3 will be aggregated
Rows 0 and 3 are grouped together because they have the same values in columns idx, so the columns which are not a part of idx are aggregated
Row 1 and 2 have different values in columns idx, so they are not grouped, and the aggregated results will simply be their own values in the columns which are not a part of idx
Notes
all inputs are valid
arguments will never be empty

In [59]:
arr = [[1, 6, 2, 10],[8, 9, 4, 11],[9, 8, 7, 12],[1, 6, 3, 20]]

idx = [0, 1]

#print([x[1] + x[2] for x in arr])
#for x in arr:
   # print(x[2] + x[3])

In [45]:
arr = [[1, 6, 2, 10],
       [8, 9, 4, 11],
       [9, 8, 7, 12],
       [1, 6, 3, 20]]

TypeError: list indices must be integers or slices, not tuple

In [53]:
print([x[0] + x[1] for x in zip(arr[0], arr[3])])

[2, 12, 5, 30]

In [64]:
def group(arr, idx):
    dict1 = {}
    for i in arr:
        tuple_key = (i[idx[0]], i[idx[1]])
        if tuple_key in dict1:
            dict1[tuple_key][0] += i[2]
            dict1[tuple_key][1] += i[3]
        else:
            dict1[tuple_key] = [i[2], i[3]]
    return dict1

In [65]:
group(arr,idx)

{(1, 6): [5, 30], (8, 9): [4, 11], (9, 8): [7, 12]}

In [ ]:
def group(arr, idx):
    dict1 = {}
    for i in arr:
        tuple_key = (i[idx[0]], i[idx[1]])
        if tuple_key in dict1:
            dict1[tuple_key][0] += i[2]
            dict1[tuple_key][1] += i[3]
        else:
            dict1[tuple_key] = [i[2], i[3]]
    return dict1

In [71]:
def group(arr, idx):
    dict1 = {}
    tuplelist = []
    for t in range(len(idx)):
        if len(idx) == 0:
            tuple_list = tuple(tuplelist)
        else:
            tuplelist.append(t)
            tuple_key = tuple(tuplelist)
    for i in arr:
            if tuple_key in dict1:
                dict1[tuple_key][0] += i[2]
                dict1[tuple_key][1] += i[3]
            else:
                dict1[tuple_key] = [i[2], i[3]]
    return dict1

## Copy your submited solution here:

In [1]:
def group(arr, idx):
    result = {}

    for row in arr:
        group_key = tuple(row[i] for i in idx)

        if group_key not in result:
            result[group_key] = [0] * (len(row) - len(idx))

        non_grouped_values = [row[i] for i in range(len(row)) if i not in idx]
        if group_key in result:
            result[group_key] = [sum(x) for x in zip(result[group_key], non_grouped_values)]
        else:
            result[group_key] = non_grouped_values

    return result