# Kata:

https://www.codewars.com/kata/5ed056c9263d2f001738b791/train/python

## Your name or team members:

In [2]:
# Tere and Andrew

## Use the following cells to test your solution:

In [ ]:
def group(arr, idx):
    return

In [3]:
arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

idx = [0, 1]       # Indican que quieren que agregue por la columna 0 y por la columna 1
"""
group(arr, idx) == {    # Están pidiendo un diccionario, que sean las keys los valores de agregación y los values los 
                        # resultados de la agregación
  (1, 6): [5, 30],      # [2 + 3, 10 + 20]
  (8, 9): [4, 11],
  (9, 8): [7, 12]
}
"""

'idx = [0, 1]\n\ngroup(arr, idx) == {\n  (1, 6): [5, 30],      # [2 + 3, 10 + 20]\n  (8, 9): [4, 11],\n  (9, 8): [7, 12]\n}\n'

In [31]:
arr2 = [
  [1, 6, 5, 30],
  [8, 9, 4, 11],
  [9, 8, 7, 12]]

df2 = pd.DataFrame(arr2)
print(df2)

   0  1  2   3
0  1  6  5  30
1  8  9  4  11
2  9  8  7  12

In [1]:
import pandas as pd

In [38]:
import pandas as pd

df = pd.DataFrame(arr)
print(df)

   0  1  2   3
0  1  6  2  10
1  8  9  4  11
2  9  8  7  12
3  1  6  3  20

In [5]:
#df.columns = ['0', '1', '2', '3']
print(df)

   0  1  2   3
0  1  6  2  10
1  8  9  4  11
2  9  8  7  12
3  1  6  3  20

In [6]:
idx = [0, 1]

In [40]:
df1 = df.groupby([0, 1], as_index=False).agg({2: 'sum', 3: 'sum'})
#df2 = df.groupby(['01', '02'], as_index=False).agg({'03': 'sum'})
print(df1)

   0  1  2   3
0  1  6  5  30
1  8  9  4  11
2  9  8  7  12

In [37]:
empty_dict = {}

for indice, fila in df1.iterrows():      # .iterrows() itera un ciclo a través de cada fila y columna
                                        # Más info: https://pythonguia.com/python-pandas-dataframe-iterrows/
    key = (fila[0], fila[1])
    value = [fila[2], fila[3]]
    empty_dict[key] = value
    
print(empty_dict)

{(1, 6): [5, 30], (8, 9): [4, 11], (9, 8): [7, 12]}

In [ ]:
def group(arr, idx):     # No funciona
    df = pd.DataFrame(arr)
    df1 = df.groupby(['0', '1'], as_index=False).agg({'2': 'sum', '3': 'sum'})
    empty_dict = {}
    for indice, fila in df1.iterrows():
        key = (fila[0], fila[1])
        value = (fila[2], fila[3])
        empty_dict[key] = value
    return empty_dict

In [25]:
dict = {'0, 1': '5, 30',
       '1, 8': '4, 11',
       '9, 8': '7, 12'}

In [12]:
dict.keys()

dict_keys(['0, 1', '1, 8', '9, 8'])

In [ ]:
por cada key, crea una tupla con las keys

In [16]:
dict.values()

dict_values(['5, 30', ' 4, 11', '7, 12'])

In [17]:
por cada valor, crea una lista con los valores

SyntaxError: invalid syntax (629949938.py, line 1)

In [23]:
for key in dict.keys():
    print(key)

0, 1
1, 8
9, 8

In [28]:
for value in dict.values():
    print(value)

5, 30
4, 11
7, 12

In [ ]:
# Construir el diccionario en base a las localizaciones del dataframe

In [29]:
df1.iloc[0,:2]

0    1
1    6
Name: 0, dtype: int64

In [ ]:
por cada fila en el dataframe, crea

In [36]:
empty_dict = {}

for indice, fila in df.iterrows():      # .iterrows() itera un ciclo a través de cada fila y columna
                                        # Más info: https://pythonguia.com/python-pandas-dataframe-iterrows/
    key = (fila[0], fila[1])
    value = [fila[2], fila[3]]
    empty_dict[key] = value
    
print(empty_dict)

{(1, 6): [3, 20], (8, 9): [4, 11], (9, 8): [7, 12]}

In [34]:
result_dict = {}
for index, row in df.iterrows():
    # Usar los dos primeros elementos de cada fila como clave (una tupla)
    key = (row[0], row[1])
    
    # Usar el resto de elementos de cada fila como valor (una lista)
    value = [row[2], row[3]]
    
    # Agregar al diccionario
    result_dict[key] = value

# Imprimir el diccionario resultante
print(result_dict)

{(1, 6): [3, 20], (8, 9): [4, 11], (9, 8): [7, 12]}

In [ ]:
def group(arr, idx):
    df = pd.DataFrame(arr)
    df1 = df.groupby(['0', '1'], as_index=False).agg({'2': 'sum', '3': 'sum'})
    return df

In [30]:
df_b = pd.DataFrame(arr)
df_b = df.groupby(['0', '1'], as_index=False).agg({'2': 'sum', '3': 'sum'})
print(df_b)

   0  1  2   3
0  1  6  5  30
1  8  9  4  11
2  9  8  7  12

In [43]:
for i in df1:
    print (tuple(df1.iloc[0,:2]))

(1, 6)
(1, 6)
(1, 6)
(1, 6)

In [44]:
print (df1)

   0  1  2   3
0  1  6  5  30
1  8  9  4  11
2  9  8  7  12

In [ ]:
dict_empty = {}

dict_empty[tuple(df1.iloc[0,:2])] =

In [31]:
dict_empty = {}
dict_empty.keys = df1.iloc[:,:3]

# Prueba
dictionary = {'A': 1, 'B': 2, 'C': 3}
    key, value = 'D', 4

print(dict_empty)

AttributeError: 'dict' object attribute 'keys' is read-only

## Copy your submited solution here: