# Kata:

https://www.codewars.com/kata/5811597e9d278beb04000038/train/sql

https://www.codewars.com/kata/5e5f09dc0a17be0023920f6f/train/sql

https://www.codewars.com/kata/582cba7d3be8ce3a8300007c/train/sql

## Your name or team members:

In [ ]:
# Tom√°s

## Use the following cells to test your solution:

## Copy your submited solution here:

In [ ]:
# Kata 1
SELECT 
  date(created_at) AS day,
  description,
  COUNT(id)
FROM events
WHERE NAME = 'trained'
GROUP BY day, DESCRIPTION
ORDER BY day;

In [ ]:
# Kata 2
select capital
from countries
where (continent = 'Africa' or continent = 'Afrika') and country like 'E%'
order by capital
limit 3

In [ ]:
# Kata 3
SELECT 
  DATE(s.transaction_date) AS day,
  d.name AS department,
  COUNT(s.id) AS sale_count
FROM department d
JOIN sale s on d.id = s.department_id
GROUP BY day, d.name
ORDER BY day asc